* {
	box-sizing: border-box;
	margin: 0px;
}




.modalw {
	width: 300px;
	height: 60px;
	background-color: blue;
	text-align: center;
	color: white;
	padding-top: 15px;
	margin: auto;
	-moz-transition: opacity .3s, max-height .3s;
    -ms-transition: opacity .3s, max-height .3s;
    transition: opacity .3s, max-height .3s;
	display: none;
}


